<!--users/templates/users/invite.html-->
<!-- Send invitation to join to new user through their email address -->
{% extends 'base.html' %}

{% block content %}

<div>
    <h2>New user invited</h2>
    <p>To create a new user in the system, please use the following link: 
        <a href="{% url 'users:register' invite_code %}">
            http://localhost:8000{% url 'users:register' invite_code %}
        </a>
    </p>
    <p>
        Or go to the link 
        <a href="{% url 'users:register' %}">
            http://localhost:8000{% url 'users:register' %}
        </a> and insert the code <b>{{ invite_code }}</b>
    </p>
</div>

{% endblock %}